<!DOCTYPE html>
<html ng-app='cocktail'>
  <head>
    <meta charset="utf-8" />
    <title>Cocktails</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
  </head>
  <body>
    <div class='headings' ng-init='drinks = []'>
      <h1>~ cocktails ~</h1>
      <h2>what do you have?</h2>
      <form class='ingredients'>
        <input type='text' ng-model='search' ng-model-options='{ debounce: 800 }'' placeholder='enter a base liquor'><br>
        <input type='text' ng-model='search2' ng-model-options='{ debounce: 800 }' placeholder='anything else?'>
      </form>
    </div>
    <br>
    <div class='drinkList' ng-controller='DrinksController'>
      <div class='drinkOption' ng-repeat='drink in drinks'>
        <a href ng-click='recipe()'>{{ drink.strDrink }}</a>
        <span class='imgs'>
          <img ng-src='{{ drink.strDrinkThumb }}'>
        </span>
        <br>
        <br>
        <div class='recipe' ng-repeat='ingredient in ingredients'>
          <li>{{ ingredient }}</li>
        </div>
      </div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src='app/drinks/drinks.js'></script>
  </body>
</html>